*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 50px,60px;
    font-family: "Poppins", sans-serif;
}
.nav{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 119px;
    margin-top: 65px;
}
.items{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  cursor: pointer;
  flex-grow: 1;
  padding-left: 62px;
}
.items li:hover{
    color: #5955b3;
}
.contactbutton{
  padding: 14px 28px;
  background-color: #5955b3;
  border: none;
  border-radius: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.herosection{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.heading{
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color: #3c2f60;
}
span{
    color: #5955b3;
}
.description{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #828282;
    margin-top: 28px;
}
.secondbotton{
    padding: 14px 28px;
    background-color: #5955b3;
    border: none;
    border-radius: 12px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin-top: 70px;
}
